<!DOCTYPE html>
<html>

<head>
<title>Add Event</title>
</head>

<body>

<h2>Add Event</h2>

<form method="post">

Title
<input type="text" name="title" required>
<br><br>

Start
<input type="date" name="start" required>
<br><br>

End
<input type="date" name="end" required>
<br><br>

Time
<input type="time" name="time">
<br><br>

Description
<textarea name="desc"></textarea>
<br><br>

Color
<input type="color" name="color" value="#ffcccc">
<br><br>

<button type="submit">Add</button>

</form>

</body>
</html>